/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Contenedores de las tablas */
.tabla-izquierda,
.tabla-derecha {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Encabezado de las tablas */
h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Encabezado de las tablas */
th {
  background-color: #f2f2f2;
  padding: 5px;
  text-align: left;
}

/* Celdas de las tablas */
td {
  border: 1px solid #ddd;
  padding: 5px;
}

